/* Be creative. Make this look nice-ish. */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
}

:root {
    --wf-steel:#bebebe;
    --wf-purple:#412d4d;
    --wf-lightpurple:#d9bfe6;
    --wf-green:#00c9b2;
    --wf-cream:#fffade;
}

::placeholder {
    color: var(--wf-steel);
    opacity: 1;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--wf-cream);
    color: var(--wf-purple);
    font-size: 1.4rem;
    height: 20vh;
    border-bottom: 10px solid var(--wf-green);
    padding: 0px 3rem;
    text-align: center;
}

footer {
    height: 20vh;
    background-color: var(--wf-cream);
    border-top: 6px solid var(--wf-green);
}

h2 {
    font-size: 1.7rem;
}

h3 {
    margin-top: 2rem;
    font-size: 1.3rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--wf-purple);
    color: var(--wf-cream);
    height: 60vh;
}

.text-elements {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

p {
    font-size: 2rem;
}

label {
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

input,
button {
    border: 10px solid var(--wf-green); 
    background-color: var(--wf-cream);
    border-radius: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--wf-purple);
}

button {
    font-size: 2rem;
    color: var(--wf-steel);
    margin: 40px;
    transition: 300ms all;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top:-40px;
}

input {
    font-size: 6rem;
}



